main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#software article {
  margin-block-start: 1.5rem;
}

#software .img-container img {
  inline-size: 100%;
  max-inline-size: 17.25rem;
  block-size: auto;
}

#software h3 {
  text-transform: uppercase;
  font-weight: 400;
}

.logo-color {
  font-weight: 700;
}

#trafip .logo-color {
  color: #0a6526;
}

#slaview .logo-color {
  color: #ee8a0d;
}

#cfgtool .logo-color {
  color: #6e1372;
}

#software h3 {
  font-size: 1.3rem;
}

#software p {
  font-size: 1.2rem;
  padding-inline: 0.5rem;
  padding-block-start: 0.5rem;
  padding-block-end: 1.5rem;
  line-height: 1.5;
}

#software .content a {
  color: blue;
  text-underline-offset: 0.2rem;
  font-size: 1.2rem;
}

#software .content a:hover,
#software .content a:focus {
  font-weight: 700;
}

#benefits h2 {
  padding-block-start: 5rem;
  padding-block-end: 1rem;
  font-weight: 400;
}

#benefits p {
  line-height: 1.5;
  font-size: 1.2rem;
  padding-inline: 0.5rem;
  padding-block-end: 1rem;
  max-inline-size: 61.25rem;
}

#benefits .img-container img {
  display: flex;
  inline-size: 100%;
  block-size: auto;
  margin-block-end: 5rem;
}

#benefits ul {
  list-style: none;
}

#benefits ul li {
  padding-block-end: 1rem;
}

#demo h2 {
  padding-block-start: 3.5rem;
  padding-block-end: 1rem;
  font-weight: 400;
  font-size: 1.6rem;
}

#demo p {
  line-height: 1.5;
  font-size: 1.2rem;
  padding-inline: 0.5rem;
  padding-block-end: 1rem;
  max-inline-size: 61.25rem;
}

#demo .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 1rem;
  margin-block-end: 3rem;
}

#demo .img-container img {
  display: flex;
  inline-size: 100%;
  max-inline-size: 32.563rem;
  block-size: auto;
}

#demo .img-container a {
  text-decoration: none;
  font-weight: 700;
  background-color: #1a73e8;
  color: white;
  inline-size: 100%;
  max-inline-size: 20rem;
  padding: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 1rem;
  font-size: 1.3rem;
}

#demo .img-container i {
  padding-inline-start: 0.5rem;
  padding-block-start: 0.5rem;
}

#demo .img-container a:hover,
#demo .img-container a:focus {
  color: white;
  background-color: black;
}

@media (min-width: 640px) {
  #benefits ul {
    display: flex;
  }

  #benefits ul li {
    block-size: 8.375rem;
  }
}

@media (min-width: 960px) {
  #software {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
  }

  #software article {
    inline-size: 17.25rem;
    margin-inline: 2rem;
  }

  #benefits ul li {
    margin-inline: 1rem;
  }
}
