#returnToTop {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  font-size: 1.25rem;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 60%;
  padding: 0.625rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  z-index: 100;
  width: 3.125rem;
}

#returnToTop:hover {
  opacity: 1;
}
